:root {
    --preto: #000000;
    --cinza_titulos: #999999;
    --cinza_textos: #6d6d6d;
    --cinza_footer: #d8d8d8;
    --fonte_poppins: 'Poppins', sans-serif;
    --cinza_foto: #f6f6f6;
    --rosa_botao: #ffe8e8;
    --cinza_descricao: #7e7c7c;
}

body {
    font-family: var(--fonte_poppins);
}

.cabecalho_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 75%;
    height: 97%;
    background-color: var(--cinza_foto);
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.cabecalho_menu {
    display: flex;
    position: relative;
    z-index: 1;
    height: 300px;
    margin-right: 50px;
}

.menu_lista {
    display: inline-block;
    margin-top: 3.75rem;
}

.menu_lista a:hover{
    text-decoration: underline;
    font-weight: bold;
    transition: 0.5s all;
}

.menu_link {
    display: flex;
    color: var(--preto);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.2rem;
    margin: 0 0.625rem;
}

.container_titulo {
    display: flex;
    width: 90%;
    height: 50%;
    align-items: center;
    box-sizing: border-box;
    box-sizing: content-box;

    margin-right: 7.37rem;
    margin-top: 14.96rem;

    position: absolute;
    z-index: 3;
}

.titulo {
    margin-bottom: 50px;
    color: var(--cinza_titulos);
    font-weight: 700;
    font-size: 5rem;
    line-height: 7.37rem;
    text-align: left;
    padding-left: 150px;
}

.titulo_descricao {
    color: var(--cinza_textos);
    font-size: 1.12em;
    line-height: 2.25em;
    width: 800px;
    text-align: left;
}

.box {
    width: 5%;
    float: right;
    height: 14.87rem; /*Altura da linha*/
    color: #000000;
}

.linha_vertical {
    border-left: 0.0625em solid; /* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    color: var(--cinza_footer);
}

.container_icon {
    display: inline-flex;
    margin-top: 1rem;
    padding: 0px;
}

.lista_icon {
    display: inline;
    margin-right: 15px;
}

.lista_icon img:hover {
    width: 1.8em;
    height: 1.8em;
    transition: 0.5s all;
}

.lista_icon a img {
    width: 1.5em;
    height: 1.5em;
}

.botao_download {
    display: inline-flex;
    margin-top: -50px;
    z-index: 5;
    margin-left: 10.31rem;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
    line-height: 2.25rem;
    color: var(--preto);
    opacity: 0.6;
    text-decoration: none;
    text-transform: uppercase;
    width: 22.06rem;
    height: 7.06rem;
    align-items: center;
    justify-content: center;
    background-color: var(--rosa_botao);
    position: absolute;
}

.botao_download:hover{
    width: 24.06rem;
    height: 8.06rem;
    transition: 0.5s all;
    font-weight: bold;
    box-shadow: 5px 5px #d6d6d6;
    color: purple;
}
.container_principal {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.experiencias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 6.25rem;
    width: 75.125rem;
}
.experiencias h1 {
    font-size: 5rem;
    line-height: 7.5rem;
    color: var(--cinza_titulos);
    font-weight: 700;
}

.experiencias_job {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3.25rem;
    color: var(--cinza_textos);
}

.experiencias_empresa {
    font-size: 1.875rem;
    line-height: 2.06rem;
    font-weight: 500;
}

.experiencias_data {
    font-size: 1.12rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    color: var(--cinza_descricao);
    mix-blend-mode: normal;
    opacity: 0.6;
    font-weight: 500;
}

.experiencias_descricao {
    font-size: 1.12rem;
    line-height: 2.06rem;
    letter-spacing: 0.02rem;
    width: 600px;
}

span::after {
    content: '\2981';
}
.projetos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75.125rem;
    margin: 6.25rem auto;
}
.projetos h1 {
    font-size: 5rem;
    line-height: 7.5rem;
    color: var(--cinza_titulos);
    font-weight: 700;
}

.projeto_um {
    display: flex;
    margin-top: 3.25rem;
    gap: 80px;
}

.imagem_projetos {
    width: 35.37rem;
    height: 24.87rem;
}


.projetos_descricao {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 50vh;
    justify-content: center;
    align-items: center;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 2.06rem;
    letter-spacing: 0.02rem;
    color: var(--cinza_textos);
}

.descricao_titulo {
    font-size: 3.75rem;
    line-height: 5.62rem;
    color: var(--cinza_titulos);
    font-weight: 700;
    margin-bottom: 1rem;
}

.projeto_dois {
    display: flex;
    margin-top: 7.5rem;
    gap: 80px;
}

.descricao_dois {
    text-align: right;
    margin-right: 5rem;
    margin-top: 5rem;
    width: 25rem;
    height: 50vh;
    font-size: 1.12rem;
    font-weight: 400;
    line-height: 2.06rem;
    letter-spacing: 0.02rem;
    color: var(--cinza_textos);
}

.projeto_tres {
    display: flex;
    margin-top: 7.5rem;
    gap: 80px;
}

figure img:hover{
    width: 38.37rem;
    height: 28.87rem;
    box-shadow: 5px 5px #cccccc;
    transition: 0.5s all;
}

figcaption a{
    text-decoration: none;
    font-weight: bold;
    color: purple;
}

figcaption a:hover{
    text-decoration: underline;
    color: royalblue;
}

/*SOBRE MIM ===============================================*/

.sobremim {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 5rem;
}

.sobremim img {
    position: relative;
    filter: brightness(40%);
}

.sobremim h1 {
    font-size: 5rem;
    line-height: 7.5rem;
    color: var(--cinza_titulos);
    font-weight: 700;
    margin-bottom: 2.125rem;
}

.sobre_descricao {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--cinza_textos);
    line-height: 2.25rem;
    letter-spacing: 0.02rem;
    width: 75.125rem;
    height: 15.75rem;
    margin-bottom: 3.75rem;
}

.sobre_contatos {
    display: flex;
    flex-direction: column;
    /* position: absolute; */
    background: var(--rosa_botao);
    width: 13.875rem;
    height: 12.25rem;
    left: 48.1875rem;
    padding: 40px 165px 40px 40px;
    text-align: left;
    position: absolute;
    margin-top: 600px;
    float: right;
}

.sobre_titulo-contatos {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.3957125rem;
    color: var(--cinza_descricao);
    text-transform: uppercase;
}

.sobre_subtitulo-contatos {
    color: #2e2e2e;
    font-weight: 400;
    font-size: 1.125rem;
    text-transform: none;
    line-height: 1.6875rem;
    letter-spacing: 0.024107125rem;
    margin-bottom: 1.25rem;
}

.sobre_descricao-contatos {
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--cinza_textos);
    line-height: 2.25rem;
    letter-spacing: 0.02rem;
    width: 75.125rem;
    height: 15.75rem;
    margin-bottom: 3.75rem;
    width: 34rem;
    height: 6.75rem;
    margin-top: 60px;
    margin-bottom: 6.25rem;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--cinza_footer);
    width: 100%;
    height: 13rem;
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--cinza_textos);
    mix-blend-mode: normal;
    opacity: 0.8;
    line-height: 2.25rem;
    letter-spacing: 0.02rem;
}
